* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left {
    position: absolute;
    left: 40px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid blue; */
    font-size: 1.5em;
    letter-spacing: 2px;
    color:white;
}

.right {
    position: absolute;
    right: 34px;
    top: 25px;
    display: inline-block;
}
.btn {
    margin: 0px 9px;
    background-color: lightgray;
    padding: 4px 14px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(172, 171, 171);
}
.navbar {
    display: inline-block;
    font-size: 25px;
    position: absolute;
    left:500px;
    top:25px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 100px 23px;
    font-weight: 300;
}
.navbar a:hover {
    color: grey;
    text-decoration: underline;
    background: transparent;
}
.navbar a.active {
    color: rgb(83, 80, 80);
}
.section1{
    color:white;
    max-width:650px;
    position: absolute;
    top:50%;
    left:15%;
    transform:translate(-50%,-50%);
    font-size: 80px;
    margin-bottom: 30px;

}
.section1 div{
    letter-spacing:8px;
    font-style: italic;
}
